body, html {
    height: 100%;
}

body {
    background: url('/assets/img/background.jpg') no-repeat #fff;
}

.featured-products-container .product-title {
    padding: 15px 0;
    display: block;
}

header {
    margin: 10px 0 20px 0;
}

.featured-products {
    padding: 30px 0 0 0;
}

.category-products {
    padding: 50px 0 0 0;
}

.btn-add-to-cart {
    margin: 10px 0;
}

.btn-add-to-cart.done {
    background: yellow;
}

.container-watched {
    min-height: 200px;
    padding: 10px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}

.container-watched h1 {
    margin: 0 0 20px 0;
    padding: 0;
}

.container-watched.loading {
    background-color: #E3FAFA;
}

.item-list > div {
    padding-bottom: 20px;
}

.input-product-quantity {
    width: 10%;
}

.table-cart-items .img {
    width: 10%;
}

.table-cart-items .img img {
    width: 100%;
}