{% extends 'FrontendBundle/Resources/views/base.html.twig' %}

{% block body %}
    <h1>Finalizuj zamówienie</h1>
    <table class="table table-striped table-cart-items">
        <thead>
        <tr>
            <th class="active"></th>
            <th class="active">Produkt</th>
            <th class="active">Ilość</th>
        </tr>
        </thead>
        <tbody>
        {% for product in cartItems %}
            <tr>
                <td class="img">
                    <img src="{{ product.image }}" alt="{{ product.title }}" class="img-responsive"/>
                </td>
                <td>
                    {{ product.title }}
                </td>
                <td>{{ product.quantity }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">Imię i nazwisko</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="order[name]" required/>
                {% if errors|length != 0 and errors.name is defined %}
                    {% include 'FrontendBundle/Resources/views/Cart/errorList.html.twig' with {"errorList": errors.name} %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Adres e-mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="order[email]" required/>
                {% if errors|length != 0 and errors.email is defined %}
                    {% include 'FrontendBundle/Resources/views/Cart/errorList.html.twig' with {"errorList": errors.email} %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Numer telefonu</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="order[phone]" required/>
                {% if errors|length != 0 and errors.phone is defined %}
                    {% include 'FrontendBundle/Resources/views/Cart/errorList.html.twig' with {"errorList": errors.phone} %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Kod pocztowy</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="order[zip]" required/>
                {% if errors|length != 0 and errors.zip is defined %}
                    {% include 'FrontendBundle/Resources/views/Cart/errorList.html.twig' with {"errorList": errors.zip} %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Miejscowość</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="order[city]" required/>
                {% if errors|length != 0 and errors.city is defined %}
                    {% include 'FrontendBundle/Resources/views/Cart/errorList.html.twig' with {"errorList": errors.city} %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Ulica / nr domu / nr mieszkania</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="order[street]" required/>
                {% if errors|length != 0 and errors.street is defined %}
                    {% include 'FrontendBundle/Resources/views/Cart/errorList.html.twig' with {"errorList": errors.street} %}
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Finalizuj</button>
            </div>
        </div>
    </form>
{% endblock %}