{% extends 'FrontendBundle/Resources/views/base.html.twig' %}

{% block body %}
    <h1>Koszyk</h1>
    <form method="post" action="{{ url('cart.recalculate') }}">
        <table class="table table-striped table-cart-items">
            <thead>
                <tr>
                    <th class="active"></th>
                    <th class="active">Produkt</th>
                    <th class="active">Ilość</th>
                    <th class="active">Cena</th>
                </tr>
            </thead>
            <tbody>
                {% for product in cartItems %}
                    <tr>
                        <td class="img">
                            <img src="{{ product.image }}" alt="{{ product.title }}" class="img-responsive"/>
                        </td>
                        <td>{{ product.title }}</td>
                        <td class="input-product-quantity">
                            <input type="text" value="{{ product.quantity }}" name="c[{{ product.id }}]" class="form-control input-sm input-quantity" />
                        </td>
                        <td class="input-product-price">{{ product.price|number_format(2) }} PLN</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if cartItems|length == 0 %}
            <div class="alert alert-info">Koszyk jest pusty.</div>
        {% else %}
            <div class="text-right">
                <div class="alert alert-info">
                    Do zapłaty w całości: {{ totalPrice|number_format(2) }} PLN
                </div>
            </div>
        {% endif %}
        <div class="text-right">
            <a class="btn btn-warning" href="{{ url('cart.refine') }}">Wyczyść koszyk</a>
            {% if cartItems|length != 0 %}
                <button class="btn btn-primary" href="{{ url('cart.recalculate') }}">Przelicz koszyk</button>
                <a class="btn btn-info" href="{{ url('cart.finalize') }}">Finalizuj zamówienie</a>
            {% endif %}
        </div>
    </form>
{% endblock %}