<!DOCTYPE html>
<html>
<head>
    <title>E-commerce Api Client</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/cerulean/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/app.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-lg-6">
                    <h1>
                        <a href="{{ url('homepage') }}">
                            <img src="/assets/img/logo.png" alt="ShopApi" />
                        </a>
                    </h1>
                </div>
                <div class="col-lg-6 cart-panel">
                    <div class="text-right">
                        <a href="{{ url('cart') }}" class="btn btn-default">
                            <span class="glyphicon glyphicon-home"></span> Koszyk (<span class="c">{{ render(url('cart.count')) }}</span>)
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </header>
        <nav class="navbar navbar-inverse">
            {{ render(url('categories')) }}
        </nav>
        <div class="row">
            <div class="col-xs-12">
                {% for message in app.session.getFlashBag.get('success') %}
                    <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
                {{ block('body') }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    {% block javascripts %}
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>
    {% endblock %}
</body>
</html>
