<div class="row featured-products-container item-list">
    {% for product in featured %}
        <div class="col-lg-4">
            <img src="{{ product.image }}" alt="{{ product.title }}" class="img-responsive" />
            <small class="product-title">{{ product.title }}</small>
            <div class="text-right">
                <a class="btn btn-primary btn-sm" href="{{ app.url_generator.generate('product', {'id': product.id}) }}">Zobacz</a>
            </div>
            <div class="clearfix"></div>
        </div>
    {% endfor %}
</div>