{% extends 'FrontendBundle/Resources/views/base.html.twig' %}

{% block body %}
    <div class="container-watched loading"></div>
    <h1>
        <div>Dziś polecamy</div>
        <small>Dobra jakość, najniższe ceny na rynku!</small>
    </h1>
    {{ render(url('products.featured')) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/js/homepage.js"></script>
    <script type="text/template" id="template-watched">
        <h1>Ostatnio oglądane przez Ciebie</h1>
        <div class="row">
            <% _.each(products, function(product) { %>
                <div class="col-lg-3">
                    <img src="<%= product.image %>" alt="<%= product.title %>" class="img-responsive" />
                    <small class="product-title"><%= product.title %></small>
                    <div class="clearfix"></div>
                </div>
            <% }) %>
            <div class="clearfix"></div>
        </div>
    </script>
{% endblock %}