{% extends 'FrontendBundle/Resources/views/base.html.twig' %}

{% block body %}
    <h1>
        <div>{{ product.title }}</div>
    </h1>
    <div class="text-right">
        <div>
            <span class="badge badge-primary">{{ product.price }} PLN</span>
        </div>
        <button class="btn btn-default btn-lg btn-add-to-cart" data-id="{{ product.id }}">Dodaj do koszyka</button>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="{{ product.image }}" alt="{{ product.title }}" class="img-responsive" />
        </div>
        <div class="col-lg-8">
            {{ product.description|nl2br }}
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="featured-products">
        <h1>
            <div>Najczęściej kupowane</div>
            <small>Zobacz produkty, które nasi klienci kupują najczęściej</small>
        </h1>
        {{ render(url('product.bestseller')) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/js/product.js"></script>
{% endblock %}