<ul class="nav navbar-nav category-list">
    {% for category in categories %}
        <li>
            <a href="{{ app.url_generator.generate('category', {'slug': category.id}) }}">
                {{ category.title }}
            </a>
        </li>
    {% endfor %}
</ul>