{% extends 'FrontendBundle/Resources/views/base.html.twig' %}

{% block body %}
    <h1>Kategoria: {{ category.title }}</h1>
    {% if products|length == 0 %}
        <div class="alert alert-info">Brak produktów w tej kategorii.</div>
    {% endif %}
    <div class="row category-products item-list">
        {% for product in products %}
            <div class="col-lg-4">
                <img src="{{ product.image }}" alt="{{ product.title }}" class="img-responsive" />
                <small class="product-title">{{ product.title }}</small>
                <div class="text-right">
                    <a class="btn btn-primary btn-sm" href="{{ app.url_generator.generate('product', {'id': product.id}) }}">Zobacz</a>
                </div>
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}